<form method="post" action="{{ path('vin.delete', {'id': vin.id}) }}" onsubmit="return confirm('Êtes-vous certain de vouloir supprimer la ligne ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ vin.id) }}">
    <button class="btn btn-outline-danger">Supprimer</button>
</form>
