{{ form_start(form) }}
<br>
<div class="input-group mb-3"> 
  <span class="input-group-text">{{ form_widget(form) }}</span>
</div>
    <br>
    <button class="btn btn-outline-success">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
