{% extends 'base.html.twig' %}

{% block body %}
    <h1>Modifier le vin</h1>
    
    {{ include('vin/_form.html.twig', {'button_label': 'Mise à jour'}) }}
    <br>
    <a class="btn btn-outline-primary" href="{{ path('vin.list') }}">Retour à la liste des vins</a>
    <br><br>
    {{ include('vin/_delete_form.html.twig') }}
    
{% endblock %}
