<form method="post" action="{{ path('user.delete', {'id': user.id}) }}" onsubmit="return confirm('Êtes-vous certain de vouloir supprimer la ligne ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button class="btn btn-outline-danger">Supprimer</button>
</form>
