{% extends 'base.html.twig' %}

{% block body %}

    <h1>Modification de l'utilisateur</h1>
    <br>
    
    <form method="post">
        <label for="idEmail">Email:</label>
        <input type="text" id="idEmail" name="email" value="{{ user.email }}"/>
    <br>
        <button type="submit">Valider</button>
    </form>

{% endblock %}
